{% include 'header.html' %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Generate Token Kelas</h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- general form elements -->
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Buat Token Kelas Anda</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form role="form" action="/registerwajah" method="POST">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="emailAddress">Alamat Email</label>
                            <input type="email" class="form-control" id="emailAddress" name="email"
                                placeholder="Masukan alamat email">
                        </div>
                        <div class="form-group">
                            <label for="fullName">Nama lengkap</label>
                            <input type="text" class="form-control" id="fullName" name="nama"
                                placeholder="Masukan nama lengkap">
                        </div>
                        <div class="form-group">
                            <label for="username">Kode Nama</label>
                            <input type="text" class="form-control" id="username" name="kode"
                                placeholder="Masukan kode nama">
                        </div>
                        <div class="form-group">
                            <label for="nip">NIP</label>
                            <input type="text" class="form-control" id="nip" name="nip" placeholder="Masukan NIP">
                        </div>
                        <div class="form-group">
                            <label for="matkul">Nama Mata Kuliah</label>
                            <input type="text" class="form-control" id="matkul" name="matkul"
                                placeholder="Masukan mata kuliah">
                        </div>
                        <div class="form-group">
                            <label for="pertemuan">Pertemuan Ke-</label>
                            <input type="number" class="form-control" id="pertemuan" name="pertemuan"
                                placeholder="Masukan pertemuan ke-">
                        </div>
                        <div class="form-group">
                            <label for="deskripsi">Deskripsi Kelas</label>
                            <input type="number" class="form-control" id="deskripsi" name="deskripsi"
                                placeholder="Masukan deskripsi kelas">
                        </div>
                        <br>
                        <!-- /input-group -->
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <button type="button" onclick="generateRandomNumber()"
                                        class="btn btn-warning">Generate
                                        Token</button>
                                </div>
                                <!-- /btn-group -->
                                <input type="number" class="form-control" id="randomNumberDisplay" name="token"
                                    placeholder="Klik generate token" readonly>
                            </div>

                        </div>

                        <!-- /input-group -->
                    </div>
                    <!-- /.card-body -->

                    <div class="card-footer">
                        <button type="submit" class="btn btn-success">Aktifkan Token!</button>
                    </div>
                </form>
            </div>
            <!-- /.card -->

        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

{% include 'footer.html' %}